<!DOCTYPE html>
<html>
    <head>
        <title>DNA Sequence Generator</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
<body>
    
    <h1><span style="color:red;">D</span><span style="color:blue;">N</span><span style="color:green;">A</span>-PSD Sequence Generator</h1>
    <form action="/generate" method="post">
        <label>Number of Domains:</label>
        <input type="number" name="domains_num" required>
        <br><br>
        <label>Enter Domain Names (comma-separated):</label>
        <input type="text" name="domain_names" required>
        <br><br>
        <label>Enter Domain Lengths (comma-separated):</label>
        <input type="text" name="domain_lengths" required>
        <br><br>
        <label>Number of Strands:</label>
        <input type="number" name="strands_num">
        <br><br>
        <label>Enter Strand Structures (comma-separated, domains separated by spaces):</label>
        <input type="text" name="strand_structures">
        <br><br>
        <label>Number of Complexes:</label>
        <input type="number" name="complexes_num">
        <br><br>
        <label>Enter Complexes in Dot-Parens Notation (domains comma-separated):</label>
        <input type="text" name="complex_notations">
        <br><br>
        <label>Include 3' Poly-T Overhang:</label>
        <input type="checkbox" name="overhang" value="yes">
        <br><br>
        <input type="submit" value="Generate">
    </form>
    <br>
    <!-- This section will display the generated sequences -->
    {% if domain_sequences %}
    <h2>Generated Domain Sequences:</h2>
    <ul>
        {% for seq in domain_sequences %}
        <li>{{ seq }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if strand_sequences %}
    <h2>Generated Strand Sequences:</h2>
    <ul>
        {% for seq in strand_sequences %}
        <li>{{ seq }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</body>
</html>
